@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


 *{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
 }
 .footer{
    text-decoration: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: #fef4ea;
    border-radius: 0.5rem;
    padding: 20px;
 }
 .footer-box{
    display: flex;
    flex-direction: column;
 }
 .footer-box p{
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
    
 } 
 .social{
    text-decoration: none;
    display: flex;
   align-items: center;
   column-gap: 0.5rem;
 }
 .social .bx{
    padding: 10px;
    background: #fef4ea;
    color: #2db41c;
    border-radius: 5rem;
    font-size: 20px;

 }
 .social .bx:hover{
    background: #2db41c;
    color: #fef4ea;
    transition: 0.2s all linear;
 }
 .footer-box h2{
    
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
 }
 .footer-box a{
    text-decoration: none;
    color: #868a92;
    margin-bottom: 1rem;
 }
 .footer-box a:hover{
    color: #e7a87b;
 }
 .footer-box form{
    border-bottom:1px solid #000000;
    padding: 15px;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
 }
 .footer-box form input{
    background: transparent;
    border: none;
    outline: none;
 }
 .footer-box form .bx{
    font-size: 20px;
    color: #ec8941;
    cursor: pointer;
    padding-right: 10px;
 }
 .footer-box form .bxs-envelope{
    color: #ec8941;
 }
 